{% extends 'components/__MainLayout__.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('analytics.static', filename='css/global.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('analytics.static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <section id="analytics">
        <div class="analytics-wrap">
            <div class="second-header-wrap">
                <div class="second-header">
                    <button class="second-header-nav">Campaigns</button>
                    <button class="second-header-nav">Audience</button>
                </div>
            </div>
            <div class="dashboard-wrap">
                <div class="dashboard">
                    <div class="left-column">
                        <div class="left-column-content">
                            <div class="data-row">
                                <div class="info-card col-6 d-flex flex-column justify-content-between">
                                    <div class="info-item">
                                        <h2 style="color: white">Active Users</h2>
                                        <p class="value font-weight-bold"
                                           style="color: white;font: 700 52px Mulish, sans-serif;">72</p>
                                    </div>
                                    <div class="info-item d-flex justify-content-center align-items-center w-100">
                                        <h2 class="d-flex w-100 justify-content-start align-items-center"
                                            style="color: white;">View Referrals
                                            <i class="fa-solid fa-arrow-right-long fa-xl mx-4"
                                               style="color: #f5f5f5;"></i></h2>

                                    </div>
                                </div>
                                <div class="groups-info-wrap">
                                    <p style="font-size: larger; font-weight: 600;">Groups and Campaigns</p>
                                    <table class="responsive-table">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Recipients</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!-- Add your table rows here -->
                                        <tr>
                                            <td><a href="">Food Drive Success! Winner ...</a></td>
                                            <td>Email</td>
                                            <td>100</td>
                                            <td><i class="fa-solid fa-arrow-right fa-fade fa-lg"
                                                   style="color: #005eff;"></i></td>
                                        </tr>
                                        <tr>
                                            <td><a href="">Group 2</a></td>
                                            <td>SMS</td>
                                            <td>150</td>
                                            <td><i class="fa-solid fa-arrow-right fa-fade fa-lg"
                                                   style="color: #005eff;"></i></td>
                                        </tr>
                                        <!-- Add more rows as needed -->
                                        </tbody>
                                    </table>
                                </div>

                                {#                                <div class="info-card col-6 d-flex flex-column justify-content-between">#}
                                {#                                    <div class="info-item">#}
                                {#                                        <h2 style="color: white">Active Users</h2>#}
                                {#                                        <p class="value font-weight-bold"#}
                                {#                                           style="color: white;font: 700 52px Mulish, sans-serif;">72</p>#}
                                {#                                    </div>#}
                                {#                                    <div class="info-item d-flex justify-content-center align-items-center w-100">#}
                                {#                                        <h2 class="d-flex w-100 justify-content-start align-items-center"#}
                                {#                                            style="color: white;">View Referrals#}
                                {#                                            <i class="fa-solid fa-arrow-right-long fa-xl mx-4"#}
                                {#                                               style="color: #f5f5f5;"></i></h2>#}
                                {##}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="chart">#}
                                {#                                    <canvas id="chart"></canvas>#}
                                {#                                </div>#}

                            </div>
                            <div class="data-row scroll-x">
                                <div class="scroll-able-widget">
                                    <div class="user-widget-wrap">
                                        <div class="user-widget">
                                            <div class="widget-header">
                                                <div class="header-top">
                                                    <h2>Total Emails Sent</h2>
                                                    <div class="percentage">
                                                        <div class="percentage-value">268%</div>
                                                    </div>
                                                </div>
                                                <div class="user-count">15K</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-widget-wrap">
                                        <div class="user-widget">
                                            <div class="widget-header">
                                                <div class="header-top">
                                                    <h2>Emails in Queue</h2>
                                                    <div class="percentage">
                                                        <div class="percentage-value">268%</div>
                                                    </div>
                                                </div>
                                                <div class="user-count">15K</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-widget-wrap">
                                        <div class="user-widget">
                                            <div class="widget-header">
                                                <div class="header-top">
                                                    <h2>Total Campaigns</h2>
                                                    <div class="percentage">
                                                        <div class="percentage-value">268%</div>
                                                    </div>
                                                </div>
                                                <div class="user-count">15K</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-widget-wrap">
                                        <div class="user-widget">
                                            <div class="widget-header">
                                                <div class="header-top">
                                                    <h2>Users</h2>
                                                    <div class="percentage">
                                                        <div class="percentage-value">268%</div>
                                                    </div>
                                                </div>
                                                <div class="user-count">15K</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-widget-wrap">
                                        <div class="user-widget">
                                            <div class="widget-header">
                                                <div class="header-top">
                                                    <h2>Users</h2>
                                                    <div class="percentage">
                                                        <div class="percentage-value">268%</div>
                                                    </div>
                                                </div>
                                                <div class="user-count">15K</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="data-row">
                                <div class="div-75">
                                    <div class="column-11">
                  <span class="span-22">
                    <div class="div-76">Devices</div>
                    <span class="span-23">
                      <span class="span-24">May</span>
                      <div class="div-77">June</div>
                      <div class="div-78">July</div>
                      <div class="div-79">August</div>
                    </span>
                    <div class="div-80">Desktop | 52%</div>
                    <div class="div-81"></div>
                    <div class="div-82">Tablet | 15%</div>
                    <div class="div-83"></div>
                    <div class="div-84">Mobile | 36%</div>
                    <div class="div-85"></div>
                  </span>
                                    </div>
                                    <div class="column-12">
                                        <div class="div-86">
                                            <img
                                                    loading="lazy"
                                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/68d9e782a1f437de50e4b98d70fd692a48aacb3c138ee33cd73b25653360f0b1?apiKey=099edb3b00714a918dd525ea4f1605d6&"
                                                    class="img-12"
                                            />
                                            <span class="span-25">
                      <span class="span-26">
                        <div class="div-87">Devices</div>
                        <div class="div-88">
                          Direct
                          <br/>
                          Organic
                          <br/>
                          Social
                          <br/>
                          Referral
                          <br/>
                          Social
                        </div>
                      </span>
                      <div class="div-89">
                        24
                        <br/>
                        14
                        <br/>
                        5
                        <br/>
                        5
                        <br/>
                        2
                      </div>
                    </span>
                                            <div class="div-90"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    <script type="module">
        const ctx = document.getElementById('chart');

        const mixedChart = new Chart(ctx, {
            data: {
                datasets: [{
                    type: 'bar',
                    label: 'Bar Dataset',
                    backgroundColor: '#0e1731',
                    data: [10, 20, 30, 40],
                    // this dataset is drawn below
                    order: 2
                }, {
                    label: 'Line Dataset',
                    backgroundColor: '#00bb75',
                    data: [10, 20, 30, 5],
                    type: 'line',
                    // this dataset is drawn on top
                    order: 1
                }],
                labels: ['January', 'February', 'March', 'April'],
            },
            options: {
                scales: {
                    x: {
                        display: true,
                        title: {
                            display: true,
                            text: 'Month',
                            color: '#0e1731',
                            font: {
                                family: 'Comic Sans MS',
                                size: 20,
                                weight: 'bold',
                                lineHeight: 1.2,
                            },
                            padding: {top: 20, left: 0, right: 0, bottom: 0}
                        }
                    },
                    y: {
                        display: true,
                        title: {
                            display: true,
                            text: 'Value',
                            color: '#0e1731',
                            font: {
                                family: 'Times',
                                size: 20,
                                style: 'normal',
                                lineHeight: 1.2
                            },
                            padding: {top: 30, left: 0, right: 0, bottom: 0}
                        }
                    }
                }
            },
        });
    </script>
{% endblock %}
