
#analytics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    width: 100% !important;
    max-width: available !important;
}

.analytics-wrap {
    display: flex;
    width: 100%;
    padding-bottom: 35px;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #0e1731;
    width: 100%;
    padding: 22px 35px 22px 80px;
}

.header-icon-wrap {
    gap: 20px;
    display: flex;
}


.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 27%;
    margin-left: 0;
}


.img {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 37px;
    overflow: hidden;
    max-width: 100%;
    margin: auto 0;
}


.column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 27%;
    margin-left: 20px;
}

.column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 46%;
    margin-left: 20px;
}

.img-2 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 62px;
    overflow: hidden;
    max-width: 100%;
}


.second-header-wrap {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}

.second-header {
    display: flex;
    margin-top: 7px;
    align-items: start;
    justify-content: space-between;
}

.span-3 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.second-header-nav {
    color: #0e1731;
    text-align: center;
    white-space: nowrap;
    font: 700 16px Mulish, sans-serif;
    border: none;
    padding: .5rem;
    border-radius: 2rem;
}

.second-header-nav:hover {
    background-color: rgb(184, 184, 184);

}

.div-6 {
    border-radius: 1px;
    background-color: #0e1731;
    align-self: center;
    display: flex;
    margin-top: 7px;
    width: 17px;
    height: 2px;
    flex-direction: column;
}


.div-8 {
    color: #0e1731;
    text-align: center;
    font: 400 16px Mulish, sans-serif;
}

.div-9 {
    color: #0e1731;
    text-align: center;
    flex-grow: 1;
    white-space: nowrap;
    font: 400 16px Mulish, sans-serif;
}

.div-10 {
    color: #0e1731;
    text-align: center;
    font: 400 16px Mulish, sans-serif;
}

.dashboard-wrap {
    margin: 37px 0;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-x: hidden;
}


.left-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.left-column-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}


.data-row {
    display: flex;
}

.info-card {
    display: flex;
    flex-direction: column;
    line-height: normal;
    margin-left: 0;
    border-radius: 10px;
    background-color: #0e1731;
    align-items: start;
    padding: 2rem;
    width: calc(25% - 10px); /* Adjust width for smaller screens, considering margin */
    height: 300px;
}

#chart {
    width: 100% !important;
    height: 300px !important;
}


.div-16 {
    color: #fff;
    font: 400 24px Mulish, sans-serif;
}

.div-17 {
    color: #fff;
    margin-top: 26px;
    font: 700 52px Mulish, sans-serif;
}


.span-5 {
    display: flex;
    margin-top: 56px;
    align-items: center;
    gap: 12px;
}


.div-18 {
    color: #fff;
    text-transform: uppercase;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 700 18px Mulish, sans-serif;
}

.img-3 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 44px;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
}

.chart {
    display: flex;
    flex-direction: column;
    line-height: normal;
    flex-grow: 1;
    margin-left: 10px;
}


.div-19 {
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 37px 54px 20px 40px;
}


.div-20 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 9px;
}


.span-6 {
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}

.div-21 {
    color: #0e1731;
    white-space: nowrap;
    font: 400 24px Mulish, sans-serif;
}


.div-22 {
    display: flex;
    margin-top: 21px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 9px;
}

.div-23 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 55px;
    width: 9px;
    height: 28px;
    flex-direction: column;
}

.div-24 {
    background-color: #0e1731;
    align-self: stretch;
    display: flex;
    width: 9px;
    height: 83px;
    flex-direction: column;
}

.div-25 {
    background-color: #0e1731;
    align-self: start;
    display: flex;
    margin-top: 16px;
    width: 9px;
    height: 67px;
    flex-direction: column;
}

.div-26 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 28px;
    width: 9px;
    height: 55px;
    flex-direction: column;
}

.div-27 {
    background-color: #0e1731;
    align-self: start;
    display: flex;
    margin-top: 19px;
    width: 8px;
    height: 64px;
    flex-direction: column;
}

.div-28 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 63px;
    width: 9px;
    height: 20px;
    flex-direction: column;
}


.div-29 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 57px;
    width: 9px;
    height: 26px;
    flex-direction: column;
}

.div-30 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 73px;
    width: 8px;
    height: 10px;
    flex-direction: column;
}

.div-31 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 78px;
    width: 9px;
    height: 5px;
    flex-direction: column;
}


.div-32 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 61px;
    width: 9px;
    height: 22px;
    flex-direction: column;
}

.div-33 {
    background-color: #0e1731;
    align-self: start;
    display: flex;
    margin-top: 13px;
    width: 9px;
    height: 70px;
    flex-direction: column;
}

.div-34 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 22px;
    width: 9px;
    height: 61px;
    flex-direction: column;
}

.div-35 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 34px;
    width: 7px;
    height: 49px;
    flex-direction: column;
}

.div-36 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 73px;
    width: 9px;
    height: 10px;
    flex-direction: column;
}


.div-37 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 67px;
    width: 9px;
    height: 16px;
    flex-direction: column;
}


.div-38 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 73px;
    width: 9px;
    height: 10px;
    flex-direction: column;
}

.div-39 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 67px;
    width: 9px;
    height: 59px;
    flex-direction: column;
}


.div-40 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 81px;
    width: 9px;
    height: 45px;
    flex-direction: column;
}

.div-41 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 113px;
    width: 9px;
    height: 13px;
    flex-direction: column;
}


.div-42 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 58px;
    width: 9px;
    height: 68px;
    flex-direction: column;
}

.div-43 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 43px;
    width: 9px;
    height: 83px;
    flex-direction: column;
}

.div-44 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 69px;
    width: 9px;
    height: 57px;
    flex-direction: column;
}

.div-45 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 79px;
    width: 8px;
    height: 47px;
    flex-direction: column;
}

.div-46 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 56px;
    width: 8px;
    height: 70px;
    flex-direction: column;
}

.div-47 {
    align-self: start;
    display: flex;
    margin-top: 11px;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    align-items: center;
}

.img-4 {
    aspect-ratio: 1.75;
    object-fit: contain;
    object-position: center;
    width: 142px;
    overflow: hidden;
}

.div-48 {
    align-self: stretch;
    display: flex;
    margin-top: 4px;
    padding-right: 42px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 9px;
}

.div-49 {
    background-color: #0e1731;
    align-self: start;
    display: flex;
    margin-top: 10px;
    width: 9px;
    height: 20px;
    flex-direction: column;
}

.div-50 {
    background-color: #0e1731;
    align-self: stretch;
    display: flex;
    width: 9px;
    height: 30px;
    flex-direction: column;
}

.div-51 {
    background-color: #0e1731;
    align-self: start;
    display: flex;
    margin-top: 19px;
    width: 9px;
    height: 11px;
    flex-direction: column;
}

.div-52 {
    background-color: #0e1731;
    align-self: start;
    display: flex;
    margin-top: 14px;
    width: 9px;
    height: 16px;
    flex-direction: column;
}

.div-53 {
    background-color: #0e1731;
    align-self: start;
    display: flex;
    margin-top: 20px;
    width: 9px;
    height: 10px;
    flex-direction: column;
}

.div-54 {
    background-color: #0e1731;
    align-self: end;
    display: flex;
    margin-top: 25px;
    width: 9px;
    height: 5px;
    flex-direction: column;
}

.span-7 {
    align-self: start;
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 12px;
}

.div-55 {
    color: #0e1731;
    text-transform: uppercase;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 700 18px Mulish, sans-serif;
}

.img-5 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 44px;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
}

.div-56 {
    margin-top: 30px;
}

.div-57 {
    gap: 20px;
    display: flex;
}


.column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 0;
}

.span-8 {
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    padding: 27px 40px;
}

.span-9 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.div-58 {
    color: #0e1731;
    font: 400 18px Mulish, sans-serif;
}

.span-10 {
    align-self: start;
    display: flex;
    gap: 7px;
}

.img-6 {
    aspect-ratio: 0.82;
    object-fit: contain;
    object-position: center;
    width: 9px;
    overflow: hidden;
    max-width: 100%;
}

.div-59 {
    color: #00bb75;
    text-align: right;
    align-self: start;
    font: 400 14px Mulish, sans-serif;
}

.div-60 {
    color: #0e1731;
    margin-top: 46px;
    font: 700 36px Mulish, sans-serif;
}

.column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
}

.span-11 {
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    padding: 27px 40px;
}

.span-12 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.div-61 {
    color: #0e1731;
    font: 400 18px Mulish, sans-serif;
}

.span-13 {
    align-self: start;
    display: flex;
    gap: 7px;
}

.img-7 {
    aspect-ratio: 0.82;
    object-fit: contain;
    object-position: center;
    width: 9px;
    overflow: hidden;
    max-width: 100%;
}

.div-62 {
    color: #00bb75;
    text-align: right;
    align-self: start;
    font: 400 14px Mulish, sans-serif;
}

.div-63 {
    color: #0e1731;
    margin-top: 46px;
    font: 700 36px Mulish, sans-serif;
}

.column-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
}


.span-14 {
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    padding: 27px 40px;
}

.span-15 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.div-64 {
    color: #0e1731;
    font: 400 18px Mulish, sans-serif;
}

.span-16 {
    align-self: start;
    display: flex;
    gap: 5px;
}

.img-8 {
    aspect-ratio: 0.82;
    object-fit: contain;
    object-position: center;
    width: 9px;
    overflow: hidden;
    max-width: 100%;
}

.div-65 {
    color: #e84166;
    text-align: right;
    align-self: start;
    flex-grow: 1;
    white-space: nowrap;
    font: 400 14px Mulish, sans-serif;
}


.div-66 {
    color: #0e1731;
    margin-top: 22px;
    font: 700 36px Mulish, sans-serif;
}

.column-10 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
}

.span-17 {
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    padding: 27px 40px;
}

.span-18 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.div-67 {
    color: #0e1731;
    font: 400 18px Mulish, sans-serif;
}

.span-19 {
    align-self: start;
    display: flex;
    gap: 4px;
}

.img-9 {
    aspect-ratio: 0.82;
    object-fit: contain;
    object-position: center;
    width: 9px;
    overflow: hidden;
    max-width: 100%;
}

.div-68 {
    color: #e84166;
    text-align: right;
    align-self: start;
    flex-grow: 1;
    white-space: nowrap;
    font: 400 14px Mulish, sans-serif;
}


.div-69 {
    color: #0e1731;
    margin-top: 22px;
    font: 700 36px Mulish, sans-serif;
}

.div-70 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    min-height: 159px;
    margin-top: 30px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 44px 40px 44px 51px;
}


.img-10 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.div-71 {
    position: relative;
    display: flex;
    gap: 15px;
    margin: auto 0;
}

.img-11 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 60px;
    overflow: hidden;
    max-width: 100%;
}

.span-20 {
    align-self: start;
    display: flex;
    margin-top: 5px;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}

.div-72 {
    color: #0e1731;
    font: 700 26px Mulish, sans-serif;
}

.div-73 {
    color: #0e1731;
    margin-top: 20px;
    white-space: nowrap;
    font: 400 16px Mulish, sans-serif;
}


.span-21 {
    position: relative;
    color: #6176e5;
    white-space: nowrap;
    border-radius: 5px;
    border: 1px solid #bbc5ff;
    background-color: #f7f8ff;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
    font: 700 18px Mulish, sans-serif;
}


.div-74 {
    margin-top: 30px;
}


.div-75 {
    gap: 20px;
    display: flex;
}

.column-11 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 49%;
    margin-left: 0;
}

.span-22 {
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 39px 80px 39px 40px;
}

.div-76 {
    color: #0e1731;
    font: 400 24px Mulish, sans-serif;
}

.span-23 {
    border-radius: 10px;
    background-color: #f7f8fc;
    display: flex;
    margin-top: 21px;
    width: 391px;
    max-width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 5px;
}


.span-24 {
    color: #0e1731;
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 0 6px 10px -4px rgba(50, 79, 164, 0.3);
    background-color: #fff;
    align-self: stretch;
    flex-grow: 1;
    justify-content: center;
    padding: 17px 28px;
    font: 700 16px Mulish, sans-serif;
}

.div-77 {
    color: #0e1731;
    align-self: center;
    margin: auto 0;
    font: 400 16px Mulish, sans-serif;
}

.div-78 {
    color: #0e1731;
    align-self: center;
    margin: auto 0;
    font: 400 16px Mulish, sans-serif;
}

.div-79 {
    color: #0e1731;
    align-self: center;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 400 16px Mulish, sans-serif;
}


.div-80 {
    color: #0e1731;
    margin-top: 31px;
    font: 400 18px Mulish, sans-serif;
}

.div-81 {
    background-color: #0e1731;
    display: flex;
    margin-top: 6px;
    width: 391px;
    max-width: 100%;
    height: 9px;
    flex-direction: column;
}

.div-82 {
    color: #0e1731;
    margin-top: 20px;
    font: 400 18px Mulish, sans-serif;
}

.div-83 {
    background-color: #0e1731;
    display: flex;
    margin-top: 7px;
    width: 112px;
    height: 9px;
    flex-direction: column;
}

.div-84 {
    color: #0e1731;
    margin-top: 20px;
    font: 400 18px Mulish, sans-serif;
}

.div-85 {
    background-color: #0e1731;
    display: flex;
    margin-top: 7px;
    width: 391px;
    max-width: 100%;
    height: 9px;
    flex-direction: column;
}

.column-12 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 51%;
    margin-left: 20px;
}


.div-86 {
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: end;
    width: 100%;
    padding: 23px 0 50px;
}


.img-12 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 43px;
    overflow: hidden;
    margin-right: 20px;
    max-width: 100%;
}

.span-25 {
    align-self: stretch;
    z-index: 1;
    display: flex;
    margin-top: -29px;
    flex-direction: column;
    align-items: start;
    padding: 0 40px;
}

.span-26 {
    display: flex;
    width: 83px;
    max-width: 100%;
    flex-direction: column;
}

.div-87 {
    color: #0e1731;
    white-space: nowrap;
    font: 400 24px Mulish, sans-serif;
}

.div-88 {
    color: #0e1731;
    margin-top: 52px;
    font: 700 16px/43px Mulish, sans-serif;
}


.div-89 {
    color: #0e1731;
    text-align: right;
    align-self: end;
    z-index: 1;
    margin-top: -26px;
    width: 282px;
    max-width: 100%;
    font: 400 16px/43px Mulish, sans-serif;
}

.div-90 {
    border-radius: 10px;
    background-color: #edeff7;
    align-self: center;
    display: flex;
    width: 501px;
    max-width: 100%;
    height: 47px;
    flex-direction: column;
    margin: -157px 0 78px;
}


.top {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}


.div-91 {
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    padding: 34px 30px;
}

.span-27 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.div-92 {
    color: #0e1731;
    font: 400 24px Mulish, sans-serif;
}

.div-93 {
    color: #0e1731;
    text-align: right;
    align-self: start;
    font: 400 24px Mulish, sans-serif;
}

.span-28 {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    gap: 9px;
}

.div-94 {
    color: #0e1731;
    flex-grow: 1;
    flex-basis: auto;
    font: 400 16px Mulish, sans-serif;
}

.div-95 {
    color: #0e1731;
    text-align: right;
    align-self: start;
    font: 400 16px Mulish, sans-serif;
}

.span-29 {
    border-radius: 5px;
    box-shadow: 0px 14px 20px -5px rgba(14, 45, 135, 0.34);
    background-color: #6176e5;
    display: flex;
    margin-top: 49px;
    width: 100%;
    flex-direction: column;
    padding: 42px 40px;
}


.span-30 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.div-96 {
    color: #fff;
    margin: auto 0;
    font: 400 24px Mulish, sans-serif;
}

.img-13 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 43px;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
}

.div-97 {
    color: #fff;
    margin-top: 37px;
    font: 400 18px Mulish, sans-serif;
}

.div-98 {
    color: #fff;
    margin-top: 20px;
    font: 700 36px Mulish, sans-serif;
}

.div-99 {
    color: #fff;
    margin-top: 57px;
    font: 400 18px Mulish, sans-serif;
}


.div-100 {
    color: #fff;
    margin: 20px 0 9px;
    font: 700 36px Mulish, sans-serif;
}

@media (max-width: 991px) {
    main {
        padding: 0 !important;
    }

    #analytics {
        margin: 0;
    }

    .second-header, .dashboard-wrap {
        margin: 0;
    }

    .dashboard {
        flex-direction: column;
    }

    .data-row {
        flex-wrap: wrap;
    }

    .chart {
        margin: 0;
    }

    .left-column,
    .analytics-wrap,
    .header,
    .header-icon-wrap,
    .column,
    .img,
    .column-2,
    .column-3,
    .img-2,
    .span,
    .div-5,
    .div-9,
    .dashboard-wrap,
    .dashboard,
    .left-column,
    .left-column-content,
    .data-row,
    .info-card,
    .div-17,
    .span-5,
    .div-18,
    .chart,
    .div-19,
    .div-20,
    .div-21,
    .div-23,
    .div-28,
    .div-29,
    .div-30,
    .div-31,
    .div-32,
    .div-36,
    .div-37,
    .div-38,
    .div-39,
    .div-40,
    .div-41,
    .div-42,
    .div-43,
    .div-44,
    .div-45 {
        max-width: 100%;
    }

    .analytics-wrap,
    .header {
        padding: 0 20px;
    }

    .header-icon-wrap,
    .column,
    .column-2,
    .column-3,
    .left-column,
    .info-card,
    .chart,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11 {
        width: 100%;
    }

    .img,
    .img-2,
    .img-3,
    .img-4,
    .img-5,
    .img-6,
    .img-7,
    .img-8,
    .img-9,
    .img-10,
    .img-11 {
        max-width: 100%;
    }

    .span,
    .span-2,
    .span-3,
    .span-5,
    .span-6,
    .span-7,
    .span-8,
    .span-9,
    .span-10,
    .span-11,
    .span-12,
    .span-13,
    .span-14,
    .span-15,
    .span-16,
    .span-17,
    .span-18,
    .span-19,
    .span-20,
    .span-21,
    .span-22,
    .span-23,
    .span-24 {
        white-space: initial;
    }

    .dashboard-wrap,
    .div-46,
    .div-48,
    .div-55,
    .div-56,
    .div-57,
    .div-60,
    .div-63,
    .div-74,
    .div-75 {
        margin-top: 40px;
    }

    .div-48,
    .div-55,
    .div-57 {
        padding-right: 20px;
    }
}
