
#analytics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    width: 100% !important;
    max-width: available !important;
}

.analytics-wrap {
    display: flex;
    width: 100%;
    padding-bottom: 35px;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #0e1731;
    width: 100%;
    padding: 22px 35px 22px 80px;
}

.header-icon-wrap {
    gap: 20px;
    display: flex;
}


.second-header-wrap {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}

.second-header {
    display: flex;
    margin-top: 7px;
    align-items: start;
    justify-content: space-between;
}

.second-header-nav {
    color: #0e1731;
    text-align: center;
    white-space: nowrap;
    font: 700 16px Mulish, sans-serif;
    border: none;
    padding: .5rem;
    border-radius: 2rem;
}

.second-header-nav:hover {
    background-color: rgb(184, 184, 184);

}


.dashboard-wrap {
    margin: 37px 0;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-x: hidden;
}


.left-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.left-column-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}


.data-row {
    display: flex;
    margin-bottom: 1rem;
}

.scroll-x {
    overflow-x: scroll !important;
}

.info-card {
    display: flex;
    flex-direction: column;
    line-height: normal;
    border-radius: 10px;
    background-color: #0e1731;
    align-items: start;
    padding: 2rem;
    width: calc(25% - 10px); /* Adjust width for smaller screens, considering margin */
    height: 300px;
    margin-top: 10px;
    margin-right: 10px;
}

.groups-info-wrap, .top-campaigns {
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    flex-grow: 1;
    width: calc(55% - 10px); /* Adjust width for smaller screens, considering margin */
    max-width: 100%; /* Ensure it takes the full width initially */
    overflow: auto;
    height: 300px;
    margin: 10px 0 auto;
}

.groups-info-wrap table {
    width: 100%;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 991px) {

    main {
        padding: 10px;
    }

    .groups-info-wrap, .contacts-info-wrap, .top-campaigns, .clicks-info {
        width: 50%;
        margin-bottom: 1.5rem;
    }
}

.scroll-able-widget-wrap {
    overflow-x: scroll;
    margin-top: 30px;
}

.scroll-able-widget {
    gap: 20px;
    display: flex;
}

.user-widget-wrap {
    display: flex;
    flex-direction: column;
    line-height: normal;
    margin-left: 0;
}

.user-widget {
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    width: 250px;
    height: 250px;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    padding: 1.7rem;
}

.widget-header {
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    padding: .2rem;
    align-items: center;
}

.header-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.header-top h2 {
    color: #0e1731;
    font: 400 18px Mulish, sans-serif;
}

.user-count {
    width: 100%;
    flex-grow: 1;
    font: 700 36px Mulish, sans-serif;
}

.percentage-value {
    color: #e84166;
    text-align: right;
    align-self: start;
    flex-grow: 1;
    white-space: nowrap;
    font: 400 14px Mulish, sans-serif;
}

.chart-wrap {
    background-color: white;
    width: 33.333333%;
    margin-right: 10px;
    border-radius: 10px;
    min-width: 48%;
    display: flex;
    justify-content: center;
}

canvas {
    flex: 0 0 auto !important;
    width: 100%;
}


@media (max-width: 991px) {
    main {
        padding: 0 !important;
    }

    #analytics {
        margin: 0;
    }

    .second-header, .dashboard-wrap {
        margin: 0;
    }

    .dashboard {
        flex-direction: column;
    }


    .info-card {
        width: 50%;
    }

    .chart {
        margin: 0;
    }

    .left-column,
    .analytics-wrap,
    .header,
    .header-icon-wrap,
    .dashboard-wrap,
    .dashboard,
    .left-column,
    .data-row,
    .chart {
        max-width: 100%;
    }

    .analytics-wrap,
    .header {
        padding: 0 20px;
    }

    .header-icon-wrap,
    .left-column,
    .chart,
    .user-widget-wrap,
    .widget-header,
    .percentage,
    .dashboard-wrap,
    .scroll-able-widget {
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    .chart-wrap {
        background-color: white;
        margin-right: 10px;
        border-radius: 10px;
        min-width: 100%;
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 576px) {
    main {
        padding: 10px !important;
    }
    .analytics-wrap, .dashboard-wrap, .left-column {
        padding: 0 !important;
    }
    .groups-info-wrap, .info-card {
        width: 100%
    }

    .info-card {
        margin: 10px 0 auto;
    }
}