html {
    overflow-x: hidden; /*I don't know why but we need this :) */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    /*overflow: hidden;*/
}

#search-input {
    padding: .4rem;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#sent {
    display: flex;
}

.btn-scroll-widget {
    display: flex;
}

.scroll-container-wrap {
    /*height: 60vh;*/
    /*width: 70vw;*/
    justify-content: start;
}

.dashboard {
    display: flex;
    height: 100%;
    width: 100%;
    /*justify-content: space-around;*/
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    /*padding: .5rem;*/
    /*margin: .5rem;*/
}

.simple-filter {
    display: flex;
    width: 100%;
    align-items: center;
}

.dashboard .simple-filter button {
    border-radius: .5rem;
    border: none;
    font-weight: 400;
    margin: auto auto 1rem;
    cursor: pointer;
    width: calc(40% - 10px); /* 4 columns for large viewports */
    height: 50px;
}

.advanced-filter {
    max-width: 600px;
    width: 90%;
    margin: 2rem auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.advanced-filter #dateRangeForm {
    display: flex;
    flex-direction: column;
    /*width: 100%;*/
}

.advanced-filter #dateRangeForm .date-wrap label {
    font-weight: bold;
    margin-bottom: 2rem;

}

.advanced-filter #dateRangeForm input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin: auto auto 1.5rem;
}

.scrollable-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.patient-card {
    /* Style for each patient card */
    width: calc(25% - 10px); /* 4 columns for large viewports */
    margin-bottom: 10px;
    box-sizing: border-box;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 1063px) {

    #sent {
        flex-direction: column-reverse;
        width: auto;
    }

    .patient-card {
        width: 100%;
    }

    .scroll-container-wrap {
        width: 100%;
    }

    .scrollable-container {
        flex-grow: 1;
    }

    .scroll-button {
        display: none;
    }
}