/* width */
::-webkit-scrollbar {
    height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: .5rem;
}

.scrollable-container {
    position: relative;
    overflow: hidden; /* Ensure the buttons are within the container */
}

.scroll-container-wrap {
    display: flex;
    justify-content: end;
}

.scroll-button {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: .5rem;
    background-color: transparent;
    margin-bottom: 10px;
}

.scroll-left {
    border-right: 1px solid #e28c0e;
}

.scroll-button:hover {
    background-color: #f7f7f7;
}

/* Basic styling for your page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: white;
    text-align: center;
    border-bottom: solid;
    border-color: #e28c0e;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 125px;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    position: relative;
    color: #333;
    /* Default text color */
}


nav a::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #1b4077;
    /* Default border color */
    transition: width 0.3s;
    /* Transition duration */
}

nav a:hover::before {
    width: 100%;
    background-color: #1b4077;
    /* Hover border color */
}


main {
    margin: 2rem 0 2rem 0;
    padding: 0 5rem 0 5rem;
}

section {
    margin-bottom: 1.5rem;
}


h2 {
    border-bottom: 1px solid #e28c0e;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.show-more {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: .5rem;
    background-color: transparent;
}

#scheduledEmails .color-code {
    border-color: transparent #1b4077 transparent transparent;

}

#sentEmails {
    position: relative;
}

#sentEmails,
#scheduledEmails,
#templatesList {
    display: flex;
    overflow-x: auto;
    border-right: 1px solid #e28c0e;
    border-radius: .7rem;
}

/* Styling for patient cards */
.patient-card,
.template-card {
    background-color: #fff;
    border: 1px solid rgb(192, 191, 191);
    padding: 0 0 0 10px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: .5rem;
    min-width: 320px;
    max-width: 320px;
    min-height: 160px;
    transition: .3s;
    text-overflow: ellipsis;
}

.patient-card:hover,
.template-card:hover {
    background-color: #f7f7f7;
    box-shadow: 10px 10px 5px rgb(184, 184, 184);
}

/* Styling for email content overlay */
#emailContentOverlay,
#templateContentOverlay, #NewTemplateContentOverlay, #filterContentOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

#emailContent,
#templateContent, #filterContent {
    background-color: #fff;
    padding: 20px;
    max-width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
    border-radius: .5rem;
    max-height: 70%;
    overflow-y: scroll;
}

.template-content {
    display: flex;
    flex-direction: column;
}

.emailContentCard p,
#templateContent p {
    font-weight: 400;
    text-align: start;
    padding: 10px 10px;
    margin: 10px 10px;
}

.color-code {
    border-style: solid;
    border-width: 0 40px 40px 0;
    display: none;
    border-color: transparent #94d82d transparent transparent;
    border-radius: .5rem;
}

.toggeled-section {
    height: 80vh;
    margin-bottom: 4rem;
}

.toggeled-content {
    height: 100%;
    flex-direction: column;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.search-input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    padding: .5rem;
    width: 50%;
    transition: all 0.5s;
    /* Apply transition to all properties */
}

.search-input-wrapper i {
    margin-right: 1rem;
    color: #888;
}

#search-input {
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    border-radius: 1.5rem;
    /* Set the border radius */
}

.search-input-wrapper:focus-within {
    border: 1px solid #e38901 !important;
    background-color: #fff;
    width: 60%;
    /* Change the background color */
}


/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    main {
        margin: 0 !important;
    }

    nav ul {
        text-align: left;
        margin-top: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav {
        display: flex;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        margin: 0;
    }

    main {
        padding: 10px;
    }

    .search-input-wrapper {
        width: 100%;
    }

    .search-input-wrapper:focus-within {
        width: 100%;
        /* Change the background color */
    }
}

