
#search {
    margin-top: 0;
    padding: 1rem;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.search-input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    padding: .5rem;
    width: 50%;
    transition: all 0.5s;
    background-color: white;
    box-shadow: 10px 10px 5px rgb(184, 184, 184);
    /* Apply transition to all properties */
}

.search-input-wrapper i {
    margin-right: 1rem;
    color: #888;
}

#search-input {
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    border-radius: 1.5rem;
    /* Set the border radius */
}

.search-input-wrapper:focus-within {
    border: 1px solid #e38901 !important;
    background-color: #fff;
    width: 60%;
    /* Change the background color */
}

section {
    /*margin-bottom: 2.5rem;*/
    margin: 2rem 15%;

}

#action-list {
    display: flex;
    justify-content: space-between;
}

.q-action-btn {
    border-radius: 3rem;
    background-color: white;
    padding: 1rem;
    width: 25%;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: .3s;
    margin: 0 auto;
    text-align: start;
}

.q-action-btn:hover {
    background-color: #f7f7f7;
    box-shadow: 10px 10px 5px rgb(184, 184, 184);
}

#audience, #analytics {
    display: flex;
    flex-wrap: wrap;
}

.contacts-info-wrap, .clicks-info {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 250px;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 10px 10px 5px rgb(184, 184, 184);
    margin-right: 2rem;
    max-width: 100%; /* Ensure it takes the full width initially */
}

.groups-info-wrap, .top-campaigns {
    padding: 1rem;
    height: 250px;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 10px 10px 5px rgb(184, 184, 184);
    margin: 0 auto;
    flex-grow: 1;
    max-width: 100%; /* Ensure it takes the full width initially */
    overflow: auto;
}

.contact-info h2, .subs-info h2, .open-rate-info h2 {
    border: none;
    color: grey;
}

.responsive-table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}

.responsive-table th, .responsive-table td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;

}

.responsive-table td {
    color: grey;
}

.responsive-table td:first-child {
    color: blue;
}

.responsive-table td {
    color: #595959;
}

.responsive-table th {
    border: none;
}

.show-more {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: .5rem;
    border-bottom: 1px solid #e28c0e;
    background-color: transparent;
    font-family: Arial, sans-serif;
    font-weight: 600;
}

.show-more:hover {
    background-color: #eeeaea;
}

#analyticsContainer {
    display: flex;
    overflow-x: auto;
    /*border-right: 1px solid #e28c0e;*/
    border-radius: .7rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 10px 10px 5px rgb(184, 184, 184);

}

/* Styling for email content overlay */
#emailContentOverlay,
#templateContentOverlay, #NewTemplateContentOverlay, #filterContentOverlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    justify-content: center;
    align-items: center;
}


#emailContent,
#templateContent, #filterContent {
    background-color: #fff;
    padding: 20px;
    max-width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
    border-radius: .5rem;
    max-height: 70%;
    overflow-y: scroll;
}

.emailContentCard p,
#templateContent p {
    font-weight: 400;
    text-align: start;
    padding: 10px 10px;
    margin: 10px 10px;
}


@media screen and (max-width: 1410px) {

    .groups-info-wrap, .contacts-info-wrap, .top-campaigns, .clicks-info {
        width: 100%;
        margin-bottom: 1.5rem;
        margin-right: 0;
    }

    #analyticsContainer {
        flex-direction: column;
    }
}

/* Responsive design for smaller screens */
@media screen and (max-width: 991px) {
 

    #action-list {
        flex-direction: column;
    }

    .q-action-btn {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }


    .search-input-wrapper {
        width: 100%;
    }

    .search-input-wrapper:focus-within {
        width: 100%;
        /* Change the background color */
    }

    section {
        margin: 2rem 4%;
    }

    #audience, #analytics {
        flex-direction: column;
    }

    .groups-info-wrap, .contacts-info-wrap, .top-campaigns, .clicks-info {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 375px) {

    td {
        max-width: 50%; /* Adjust the maximum width for small screens as needed */
    }
}