{% extends 'components/__MainLayout__.html' %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('emailService.static', filename='css/emails.css') }}">
{% endblock %}

{% block content %}
<section id="search">
    <div class="search-container">
        <div class="search-input-wrapper">
            <i class="fas fa-search"></i>
            <input type="text" id="search-input" placeholder="Search...">
            <i id="filterBtn" class="fa-solid fa-filter" style="color: #888888; cursor: pointer;"></i>
        </div>
    </div>
</section>
<div class="title-wrap d-flex w-100 justify-content-between align-items-center mb-2">
    <h2 class="mb-0">Quick Action</h2>
</div>

<section id="quickAction">
    <div id="action-list">
        <a href="{{url_for('emailService.template_creator')}}" id="createTemplate" class="q-action-btn">
            <i class="fa-solid fa-plus fa-lg" style="color: green;"></i>
            Add Template
        </a>

        <button id="createCampaign" class="q-action-btn">
            <i class="fa-solid fa-plus fa-lg" style="color: green;"></i>
            Add Campaign
        </button>

        <button id="addContact" class="q-action-btn">
            <i class="fa-solid fa-plus fa-lg" style="color: green;"></i>
            <span>Add Contact</span>
        </button>
    </div>
</section>


<div class="title-wrap d-flex w-100 justify-content-between align-items-center mb-2">
    <h2 class="mb-0">Email Analytics</h2>
    <button class="show-more">
        Show More
    </button>
</div>

<section id="analytics">
    <div class="clicks-info">
        <p class="me-5" style="font-size: larger; font-weight: 600;">Clicks</p>
        <div class="contact-info m-3">
            <p class="d-flex justify-content-between align-items-center" style="text-align: left">Click
                Rate<i class="fa-solid fa-circle-info fa-lg" style="color: grey;"></i></p>
            <h2 style="text-align: center">00.00%</h2>
        </div>
        <div class="open-rate-info m-3">
            <p class="d-flex justify-content-between align-items-center" style="text-align: left">
                Open Rate<i class="fa-solid fa-circle-info fa-lg" style="color: grey;"></i></p>
            <h2 style="text-align: center">00.00%</h2>
        </div>
    </div>
    <div class="top-campaigns">
        <p style="font-size: larger; font-weight: 600;">Top Campaigns</p>
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>clicks</th>
                    <th>open rate</th>
                </tr>
            </thead>
            <tbody>
                <!-- Add your table rows here -->
                <tr>
                    <td><a href="">Food Drive Success! Winner ...</a></td>
                    <td>Email</td>
                    <td>100</td>
                    <td>67.00</td>
                    <td><i class="fa-solid fa-arrow-right fa-fade fa-lg" style="color: #005eff;"></i></td>
                </tr>
                <tr>
                    <td><a href="">Group 2</a></td>
                    <td>SMS</td>
                    <td>150</td>
                    <td>65.00</td>
                    <td><i class="fa-solid fa-arrow-right fa-fade fa-lg" style="color: #005eff;"></i></td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>
</section>

<div class="title-wrap d-flex w-100 justify-content-between align-items-center mb-2">
    <h2 class="mb-0">Contacts & Groups</h2>
    <button class="show-more">
        Show More
    </button>
</div>

<section id="audience">
    <div class="contacts-info-wrap">
        <p class="me-5" style="font-size: larger; font-weight: 600;">Contacts & Subscribers</p>
        <div class="contact-info m-3">
            <p class="d-flex justify-content-between align-items-center" style="text-align: left">Contacts<i
                    class="fa-solid fa-plus fa-lg fa-beat" style="color: green;"></i></p>
            <h2 style="text-align: center">4001</h2>
        </div>
        <div class="subs-info m-3">
            <p class="d-flex justify-content-between align-items-center" style="text-align: left">Subscribers<i
                    class="fa-solid fa-circle-info fa-lg" style="color: grey;"></i></p>
            <h2 style="text-align: center">3999</h2>
        </div>
    </div>
    <div class="groups-info-wrap">
        <p style="font-size: larger; font-weight: 600;">Groups and Campaigns</p>
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Recipients</th>
                </tr>
            </thead>
            <tbody>
                <!-- Add your table rows here -->
                <tr>
                    <td><a href="">Food Drive Success! Winner ...</a></td>
                    <td>Email</td>
                    <td>100</td>
                    <td><i class="fa-solid fa-arrow-right fa-fade fa-lg" style="color: #005eff;"></i></td>
                </tr>
                <tr>
                    <td><a href="">Group 2</a></td>
                    <td>SMS</td>
                    <td>150</td>
                    <td><i class="fa-solid fa-arrow-right fa-fade fa-lg" style="color: #005eff;"></i></td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>
</section>
<div id="emailContentOverlay">
    <div id="emailContent">
        <!-- Email content goes here -->
    </div>
</div>
<div id="templateContentOverlay">
    <div id="templateContent">
    </div>
</div>
<div id="NewTemplateContentOverlay">
    <div id="FormContent">
        <form method="POST" action="/" id="emailForm">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                {{ form.title() }}
                {% for error in form.title.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                {{ form.content() }}
                {% for error in form.content.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="mb-3">
                <label for="color" class="form-label">Color</label>
                <input type="text" id="color-picker" name="color" class="form-control" value="#e60012" />
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary" id="createNewTemplateSubmit">Submit</button>
            </div>
        </form>
    </div>

</div>

<div id="filterContentOverlay">
    <div id="filterModalContent">
        <!-- Email content goes here -->
    </div>
</div>
<div id="dropdownOverlay"></div>
{% endblock %}